html, body {
  background-color: rgb(50, 50, 50);
}

.title {
  color: #FB4D54;
  text-align: center;
  font-size: 200%;
  padding: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.title h1 {
  margin: 0.5rem 0;
  background: linear-gradient(#FB4D6B, #FC642E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  background-color: #000000 none;
  color: #444;
  margin: 0 7.5% 3rem 7.5%;
}

a {
  color: var(--nav-text-color);
}

a:hover {
  color: var(--accent-color);
}

.box {
  background-color: none;
  color: #B8B8B8;
  padding: 0.5rem 1.5rem;
  text-align: center;
  
}

.large-title {
  font-size: 3.5rem;
  color: #B8B8B8;
}

.left-text {
  color: #F9F0EC;
  font-size: 2rem;
  border-left: 5px solid #FC642E;
  padding-left: 0.75rem;
}

p {
  margin: 0;
  padding: 0.5rem 0;
  text-align: left;
}

.small-text {
  color: #858585;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem 0;
  text-align: left;
}

.quote-text {
  font-size: 1.25rem;
  font-style: italic;
  border-left: 5px solid #FC642E;
  padding-left: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}