/* Animations */
@keyframes switch-text {
  0%  {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}

/* Main */

::-webkit-scrollbar { 
    display: none; 
}

html, body, #container, #wrap, .main {
  min-height: 100%;
  --accent-color: #C1C1C1;
  --pink-accent: #F26D6D;
  --text-color: #FC642E;
  --nav-text-color: #f2f2f2;
  --background-color: #323232;
  --background-color-fade: rgba(50, 50, 50, 0.75);
  --White-color: white;
  --nav-height: 3rem;
}

div {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  background-size: cover;
}

#homepage {
  background-image: url("images/background-image-phone.jpg");
}

@media (min-width: 1025px) {
  #homepage {
    background-image: url("images/background-image.jpg");
    background-size: cover;
  }
}



body, button {
  font-family: "SF Pro Display", "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", -apple-system,BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.main {
  padding-top: var(--nav-height);
}

#animate.run {
  animation: switch-text 2s 1;
  min-height: 13vmax;
  font-size: 7vmax;
}

.generated {
  color: var(--text-color);
  margin: 0;
  padding: 15vh 0 3vh 0;
  text-align: center;
  font-size: 5vmax;
  min-height: 6vmax;
}

.egg-view {
  margin: 0;
  padding: 5vh 0 0 0;
  text-align: center;
  font-size: 6vmax;
  min-height: 70px;
}

#static {
  padding: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* Navigation Bar */

/*.nav {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  background-color: var(--background-color-fade);
  line-height: var(--nav-height);
  height: var(--nav-height);
  position: fixed;
  top: 0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 120%;
  padding: 0 5vmin;
  opacity: 1;
}

.nav a {
  color: var(--nav-text-color);
}

.nav a:hover {
  color: var(--accent-color);
}*/


.navbar {
  background-color: var(--background-color-fade);
  padding-left: 10vw;
  letter-spacing: 4px;
}

.navbar-toggler, .navbar-toggler,button.navbar-toggler {
  outline: none;
  box-shadow: none;
  border-style: none;
}
.navbar-inner {
  background:transparent;
}
.navbar ul a {
  padding-right: 15px !important;
}
.navbar a:hover{
  color: orange !important;
  text-decoration: none;
}
.navbar-nav {
  padding-right: 5vw;
}
.preview{
  color: white !important;
  list-style-type: none;
}
.preview a:hover{
  color: orange !important;
  cursor: pointer;
  list-style-type: none;
}
.collapse, .in{
  display: inline-block; 
  text-align: left;  
  /*padding-left: 0 !important;*/
}


/* Footer */

.botton-bar ul {
  list-style-type: none;
}

.bottom-bar li {
  display: inline-block;
  padding: 0 0.5rem;
}

.bottom-bar {
  position: fixed;
  background-color: var(--nav-text-color);
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 40px;
  padding-top: 0.5rem;
  text-align: center;
  opacity: 0.75;
  height: var(--nav-height);
}

.icon-images {
  width: 20px;
  height: auto;
  transition: transform 0.2s ease-out;
}

.icon-images:hover {
  transform: scale(1.2);
}

/* CSS Grid */

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  background-color: #000000 none;
  color: #444;
  
  margin: 0 10% 3rem 10%;
}

.box {
  padding: 20px;
  text-align: center;
}



